<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.compufirst.target" sequenceNumber="39">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.1.v20170906-1529"/>
<unit id="org.eclipse.platform.sdk" version="4.7.1.M20170906-1700"/>
<unit id="org.eclipse.rcp.feature.group" version="4.7.1.v20170906-1700"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.7.1.v20170906-1700"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
</locations>
<environment>
<arch>x86_64</arch>
<nl>fr_FR</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.8 -Dosgi.instance.area.default=@user.home/eclipse-workspace -XX:+UseG1GC -XX:+UseStringDeduplication -Dosgi.requiredJavaVersion=1.8 -Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
