<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.compufirst.rcp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.compufirst.rcp/com.compufirst.rcp.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.compufirst.rcp/css/default.css">
         </property>
         <property
               name="appName"
               value="com.compufirst.rcp">
         </property>
      </product>
   </extension>

</plugin>
